.modal-filter {
    display: none;
    position: fixed;
    z-index: 99999;
    padding-top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    top: -20px;
}

.modal-content {
    background-color: #f0f0f1;
    border: 2px solid #d5d6d8;
    border-radius: 4px;
    min-height: 200px;
    margin: auto;
    width: 500px;
    position: relative;
}

.modal-content .efilters {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.modal-content .efilter {
    margin-bottom: 10px;
}

.modal-content .efilter span {
    margin-bottom: 6px;
    width: 100%;
    font-weight: bold;
    display: block;
}

.modal-content .efilter.abonado-type label {
    width: 200px;
    display: inline-block;
}

.modal-content .efilter.socio-type label {
    width: 40px;
    display: inline-block;
}

.modal-content .top-ebuttons {
    float: right;
    margin-top: -40px;
}

.modal-content .top-ebuttons a:first-child {
    margin-right: 10px;
}

.modal-content #to-number,
.modal-content #from-number {
    max-width: 160px;
}

.modal-content .footer-info {
    padding: 10px;
}

.modal-content .eresults {
    padding: 2px 5px 2px;
}

.tbl-users-event,
.modal-content .tbl-results {
    width: 100%;
}

/* .tbl-users-event tr th:first-child,
.tbl-users-event tr td:first-child, */
.modal-content .tbl-results tr th:first-child,
.modal-content .tbl-results tr td:first-child {
    display: none;
}

.tbl-users-event th,
.modal-content .tbl-results th {
    background-color: #eee;
}

.tbl-users-event tr.join {
    background-color: #b9defe;
}

.modal-content .fotter-ebuttons {
    text-align: right;
    padding: 0 10px 10px;
}

.row-remove {
    background-color: coral !important;
    color: white;
}

#events-before {
    max-width: 56px;
    font-size: 12px;
}

.modal-content .eresults {
    background-color: white;
    overflow: auto;
    height: 200px;
}

.container-user-event {
    background-color: #f6f7f7;
    border: 1px solid #d6d7d9;
}

.container-table-event {
    background-color: white;
    margin: 0 12px 0 12px;
    height: 300px;
    overflow: auto;
}

.butons-user-event {
    text-align: right;
    padding: 10px 12px;
}

.butons-user-event a:first-child {
    margin-right: 6px;
}

.bottom-user-event,
.top-user-event {
    display: flex;
}

.bottom-user-event > section,
.top-user-event > section {
    width: 50%;
}

.user-event-info {
    padding: 10px 12px;
}


.general-container {
    margin-top: 40px;
}

.container-table {
    margin-top: 1.2rem;
}

.container-table header {
    display: flex;
    width: 100%;
}

.container-table header > * {
    display: block;
    width: 50%;
}


.container-table .dcms-table {
    width: 100%;
    background-color: white;
}

.container-table .dcms-table th {
    background-color: black;
    color: white;
}

.container-table .dcms-table td,
.container-table .dcms-table th {
    padding: 5px;
}

.container-table header {
    margin-bottom: 12px;
}

.dcms-table .resend {
    text-decoration: none;
}


.container-table {
    overflow: auto;
    height: 220px;
    background: white;
    padding: 4px;
}

.container-table th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.general-container .header-info {
    display: flex;
    justify-content: space-between;
}

.general-container .footer-info {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.general-container .footer-info .save-notify {
    margin-top: 10px;
}

.general-container .message {
    margin-top: 10px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container-table header {
        display: block;
    }

    .container-table header > * {
        width: 100%;
    }
}


/*Spinner*/
.lds-ring {
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 3px;
    margin-top: 0;
    border: 3px solid gray;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: gray transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.button.disabled-link {
    pointer-events: none;
    background-color: #a4a4a4;
    border-color: #999;
}

